<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Burn it down!</title>
        <link rel="stylesheet" href="/shared/vendor/css/bootstrap.min.css">
        <link rel="stylesheet" href="/shared/vendor/css/highslide.css">
        <link rel="stylesheet" href="/css/dashboard.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1 id="bd-title" class="text-center"><!-- --></h1>
                    <div id="dashboard-summary-container" class="row text-center">
                        <div class="col-xs-4 dashboard-summary">
                            <h3>Open Issues:</h3>
                            <div id="bd-circle-open" class="bd-circle"><!-- --></div>
                        </div>
                        <div class="col-xs-4 dashboard-summary">
                            <h3>In Review:</h3>
                            <div id="bd-circle-review" class="bd-circle"><!-- --></div>
                        </div>
                        <div class="col-xs-4 dashboard-summary">
                            <h3>Closed Today:</h3>
                            <div id="bd-circle-closed" class="bd-circle"><!-- --></div>
                        </div>
                    </div>
                    <div id="dashboard-issue-chart-container"><!-- --></div>
                </div>
                <div id="dashboard-events-feed-container" class="col-xs-2"><!-- --></div>
            </div>
        </div>

        <script type="text/html" id='dashboard-events-feed-template'>
            <ul class="list-group">
                <% _.each(events, function(ev, index) { %>
                    <li class="row list-group-item clearfix">
                        <% if (ev.type === 'pull-comment-event') { %>
                            <div class="col-xs-2">
                                <a href="<%= ev.user.html_url %>" target="_blank" title="<%= ev.user.login %>">
                                    <img class="dashboard-feed-thumbnail" src="<%= ev.user.avatar_url %>" alt="<%= ev.user.login %>"/>
                                </a>
                            </div>
                            <div class="col-xs-10">
                                <%= ev.user.login %> commented on <a href="<%= ev.html_url %>" target="_blank">#<%= ev.pull_request_url.split('/').pop() %></a>
                                <small class="clearfix"><%= $.timeago(new Date(ev.created_at)) %></small>
                                <div class="text-muted dashboard-feed-comment">
                                    <%= ev.body.substring(0, 500) %>
                                </div>
                            </div>
                        <% } else if (ev.type === 'issue-comment-event') { %>
                            <div class="col-xs-2">
                                <a href="<%= ev.user.html_url %>" target="_blank" title="<%= ev.user.login %>">
                                    <img class="dashboard-feed-thumbnail" src="<%= ev.user.avatar_url %>" alt="<%= ev.user.login %>"/>
                                </a>
                            </div>
                            <div class="col-xs-10">
                                <%= ev.user.login %> commented on <a href="<%= ev.html_url %>" target="_blank">#<%= ev.issue_url.split('/').pop() %></a>
                                <small class="clearfix"><%= $.timeago(new Date(ev.created_at)) %></small>
                                <div class="text-muted dashboard-feed-comment">
                                    <%= ev.body.substring(0, 500) %>
                                </div>
                            </div>
                        <% } else if (ev.type === 'issue-event') { %>
                            <div class="col-xs-2">
                                <a href="<%= ev.actor.html_url %>" target="_blank" title="<%= ev.actor.login %>">
                                    <img class="dashboard-feed-thumbnail pull-left" src="<%= ev.actor.avatar_url %>" alt="<%= ev.actor.login %>"/>
                                </a>
                            </div>
                            <div class="col-xs-10">
                                <%= ev.actor.login %> <%= ev.event %> - <a href="<%= ev.issue.html_url %>" target="_blank">#<%= ev.issue.number %></a>
                                <small class="clearfix"><%= $.timeago(new Date(ev.created_at)) %></small>
                            </div>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
        </script>

        <script data-main="shared/bd/js/bd.bootstrap.js" data-loadmodule="js/dashboard.js" src="shared/vendor/js/require-jquery.js"></script>
    </body>
</html>